ul{list-style-type: none;
margin: 0;
padding: 0;}
h1,h2,h3,h4,p{margin-top: 0;}
:root {
    --color-primary-dark:rgba(49, 38, 26, 1);
     --color-primary-light:rgba(250, 244, 234, 1);    
       --color-primary-green:rgba(129, 155, 87, 1);
       --color-secondary-dark:rgba(70, 89, 41, 1);
}
body{font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-primary-dark);
    line-height: 1.5;
    margin: 0;
    background-color: var(--color-primary-light);
   
}
*{
  box-sizing: border-box;
}
.link{
color: var(--color-primary-light);
}
.link:hover{color: var(--color-primary-green);
}
button{color: var(--color-primary-light);
font-weight: 600;
background-color: var(--color-primary-green);
border: none;
padding: 16px 32px;
border-radius: 8px ;}
/* header */
.header-container{
  padding:20px 40px;
  display: flex;
  align-items: center;
  
   position:absolute;
  top:0; left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.header-nav{
  display: flex;
align-items: center;
flex-grow: 1;


}
.header-nav-list{
  display: flex;
  gap: 64px;
  justify-content: center;
  margin: 0 152px;
}


.adventages-section{background-color: var(--color-primary-green);
  padding: 16px 0;
}
.adventages-list{
  display: flex;
  justify-content: space-between;
  gap: 40px};

.adventages-item{
    color: var(--color-primary-light)
    ;
    font-size: 20px;
}

.container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
 
}
/* hero-sectoin */
/* h1{
  font-size: 128px;
  font-weight: 900;
    line-height: 1.3;
} */
.hero-section{
    padding: 272px 0;
    background-image:  linear-gradient(
            to bottom,
            rgba(18, 18, 17, 0.78) 0%,
            rgba(18, 18, 17, 0.60) 64%,
            rgba(18, 18, 17, 0) 100%
        ),
        url(images/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-section-title{
  color: var(--color-primary-light);
    font-size: 116px;
  font-weight: 900;
    line-height: 1.3;
   display: flex;
   /* justify-content: space-between; */
   gap: 24px;
   max-width: 100%;
    text-align: center;
    align-items: center;
    margin: 270px 0 ;
   
}
.hero-section-title span{
  color: var(--color-primary-green);
}

.section{
    padding: 48px 0;
}
/* first-section */
.first-section{padding-top: 96px; }


.flex-div-fs{ display:flex;
   justify-content:space-between;
  align-items:center;
 
}
.first-section-text{
  padding: 0 0 52 0;
  gap: 42px;
  max-width:612px; 
  
}
.photo-baker{
 max-width:320px;
  border-radius:20px;
}


/* .second-section cheafs */
 
.second-section{

}
 

.second-section-title{margin-bottom: 80px; 
text-align: center;}
.second-section-title span{
  color: var(--color-secondary-dark);
}
.flex-div-ss{
 
        display: grid;
    grid-template-columns: 1fr 1fr;
   
    gap: 120px;
  }
.cheafs-card{
  display: flex;
  gap: 30px;
}
.cheafs-card img{
  border: none;
  border-radius: 5px 5px 5px 200px;
  box-shadow:
    /* -30px 30px 0 7px black,
     -30px 30px 0 30px red */
  /* border-radius: ;!!!! */
  /* box-shadow: -15px -15px 0 --color-primary-light,
   -15px -15px 2px --color-secondary-dark; */
    -15px 15px 0 1px #FAF4EA,
      -15px 15px 0 2px #CFCFBC;
}

/* .chef-title{ */
h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}



/* third-section */
.third-section{

}
    
.third-section-title{margin-bottom: 80px;

}

.form-cards{
  gap: 20px;
  display: flex;
}
.card{
  border: none;
  border-radius: 16px;
  padding: 24px;
  background-color: rgb(197, 105, 168);
  flex-basis: calc(100%/3);
}

/* contact-section */
.contact-section-title{
  margin-bottom: 16px;
}






h2{color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 600;
    line-height: 1.3;

}
     
    .p-span-, .shopbakery { color: var(--color-primary-green);
    font-weight: 600;}
.shopbakery{
    text-transform: uppercase;
}
h3{
    font-size: 40px;
    font-weight: 600;
}
.option-descr{
    font-size: 14px;
    font-weight: 300;
}
.last-section-text{
    color: var(--color-secondary-dark);
   
}
.contact-section-title{
  font-weight: 900;
}
.flex-div-cf{
  display: flex;
  justify-content: space-between;
   gap: 40px; /* додає простір між формою та мапою */
  align-items: flex-end; /* вирівнює верх */
}
.content-contact-section{
  max-width: 50%;
  display:block;
  align-items: center;
}
/* .callback-form {
  background-color: var(--color-primary-light);
  max-width: 400px;

  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(49, 38, 26, 0.1);
} */

.callback-form fieldset {
  border: none;
  padding: 0;
}




.callback-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 18px;
  border: 1px solid rgba(49, 38, 26, 0.3);
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff;
  color: var(--color-primary-dark);
  transition: border-color 0.3s ease;
}

.callback-form input:focus {
  border-color: var(--color-primary-green);
  outline: none;
}
.callback-form button{
margin: 4px auto;
}
button{color: var(--color-primary-light);
font-weight: 600;
font-size: 18px;
background-color: var(--color-primary-green);
border: none;
padding: 16px 32px;
border-radius: 8px ;
 cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
 /* button {
  
  padding: 12px;
  background-color: var(--color-primary-green);
  color: var(--color-primary-light);
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
} */

button:hover {
  background-color: var(--color-secondary-dark);
  transform: translateY(-2px);
}

.callback-form .privacy {
  font-size: 14px;
  color: var(--color-primary-dark);
  margin-top: 15px;
  text-align: center;
}

.callback-form .privacy a {
  color: var(--color-primary-dark);
  font-weight: 500;
  text-decoration: underline;
}

.callback-form .privacy a:hover {
  color: var(--color-primary-green);
}
.map {
  max-width: 50%; /* ширина приблизно як на макеті */
  width: 100%;
  height: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center; /* центруємо посилання */
}

.map iframe {
width: 100%;  /* робимо адаптивним */
max-height: 100%;
height: 555px; /* висота як на макеті */
  border: 0;
  border-radius: 20px; /* закруглені кути */
  overflow: hidden; /* щоб карта не виходила за межі */
  margin-bottom: 10px; /* відступ як у прикладі */
}

.map-link {
  font-size: 16px;
  text-decoration: underline;
  color: var(--color-primary-dark);
  transition: color 0.3s;
}

.map-link:hover {
  color: var(--color-primary-green);
}
